/* nav Rule */
nav {
  background-color: #4682b4;
  padding: 1rem;
}

/* nav a Rule */
nav a {
  color: white;
  padding: 0.5rem;
  display: block;
}

/* h1 Rule */
h1 {
  color: #2c3e50;
}

/* img Rule */
img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  padding: 0.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* main Rule */
main {
  max-width: 600px;
  margin: 0 auto;
}

/* aside Rule */
aside {
  width: 300px;
  margin: 1.5rem auto;
  padding: 1rem;
  border: 1px solid #ccc;
  background-color: #f0f8ff;
  color: #333;
}

/* aside img Rule */
aside img {
  width: 200px;
  height: auto;
}

/* paragraph p Rule */
p {
  padding: 0;
}

/* footer Rule */
footer {
  margin-top: 2rem;
  border-top: 2px solid #ccc;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}
